#theSvg{
  width: 25vmin;
  display:block;
  position:absolute;
  margin:auto;
  top:0;bottom:0;left:0;right:0;
  z-index:1;
}
text {
  fill: white;
  font-family: consolas;
  font-size: 9px;
}